@import url('https://fonts.googleapis.com/css?family=Ubuntu|Questrial&display=swap');

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./banner-index.jpg");
    height: 100%;
    padding-bottom:452px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
#banner-content{
    color:white;
    text-align: center;
    font-family: "Ubuntu";
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#main-content{
  margin-top: 20px;
  font-family: "Ubuntu";
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #main-content{
    width:100%;
    text-align: center;
  }
  #main-content h4{
   border-style:groove;
   padding-bottom:15px;
   border-top:20px;
   border-right:0px;
   border-left: 0px;
  
  }
} 

.banner-button{
font-weight:bolder;
transition: 0.3s;
}
.card-header{
background-color: rgb(241, 56, 56);
color:white;
font-weight:bolder;
text-align:center;
}

.card p{
  text-align: center;
}
.card{
  border-radius:0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.banner-button a{
  font-weight:bolder;
  transition: 0.3s;
  color:white;

  }

.banner-button a:hover{
  color:rgb(241, 56, 56);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.575);
  padding: 2px;
  }
  

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

