@import url('https://fonts.googleapis.com/css?family=Ubuntu|Questrial&display=swap');

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./banner-index.jpg");
    height: 100%;
    padding-bottom:452px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
#banner-content{
    color:white;
    text-align: center;
    font-family: "Ubuntu";
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

